<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf = "posts.length>0 && !isLoading">
  <input type="text" [(ngModel)]="searchTitle" placeholder="Search Title" />
  <input type="text" [(ngModel)]="searchAuthor" placeholder="Search Author" />
  <input type="text" [(ngModel)]="searchUniversity" placeholder="Search University" />
  <input type="text" [(ngModel)]="searchCourse" placeholder="Search Course" />
  <br>
  <br>
  <mat-expansion-panel *ngFor="let post of posts | filter: searchAuthor : 'author' | filter: searchTitle : 'title' | filter: searchCourse: 'course' | filter: searchUniversity : 'university' ">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="post.date < today ">
        Title: {{post.title}}, Author: {{post.author}}, Expiry in: BOUGHT, Price: {{post.startingPrice}}$, You bought this product!
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
    <p> Author: {{post.author}} </p>
    <p> University: {{post.university}} </p>
    <p> Course: {{post.course}} </p>
    <p> Content: {{post.content}} </p>
    <div class = "post-image">
      <img [src]="post.imagePath"  [alt]="post.title">
    </div>
  </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator *ngIf = "posts.length>0" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOption" (page)="onChangedPage($event)" ></mat-paginator>
<p class = "info-text mat-body-1" *ngIf="posts.length == 0 && !isLoading">No products bought yet!</p>

