<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf = "posts.length>0 && !isLoading">
  <h3 *ngIf="userIsAdmin">Total Posts on sale: {{totalPosts}}</h3>
  <input type="text" [(ngModel)]="searchTitle" placeholder="Search Title" />
  <input type="text" [(ngModel)]="searchAuthor" placeholder="Search Author" />
  <input type="text" [(ngModel)]="searchUniversity" placeholder="Search University" />
  <input type="text" [(ngModel)]="searchCourse" placeholder="Search Course" />
  <input type="number" [(ngModel)]="searchMinimumPrice" placeholder="Minimum Price" />
  <input type="number" [(ngModel)]="searchMaximumPrice" placeholder="Maximum Price" />
  <button (click)= update() >Apply Filters</button>
  <br><br>
  <mat-expansion-panel *ngFor="let post of posts | filter: searchCourse : 'course'">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="post.date > today ">
        Title: {{post.title}}, Author: {{post.author}}, Expiry in: {{ post.date - today | date:'dd:hh:mm:ss'}}, Price: {{post.startingPrice}}$
      </mat-panel-title>
      <mat-panel-title *ngIf="post.date < today ">
        Title: {{post.title}}, Author: {{post.author}}, Expiry in: EXPIRED, Price: {{post.startingPrice}}$
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description *ngIf="post.date > today">
    <p> Author: {{post.author}} </p>
    <p> University: {{post.university}} </p>
    <p> Course: {{post.course}} </p>
    <p> Content: {{post.content}} </p>
    <div class = "post-image">
      <img [src]="post.imagePath"  [alt]="post.title">
    </div>
    <mat-action-row *ngIf="userIsAdmin">
      <a mat-button color = "primary" [routerLink]="['/edit', post.id]"> EDIT </a>
      <button mat-button color = "warn" (click) = "onDelete(post.id)"> DELETE </button>
    </mat-action-row>
    <mat-action-row *ngIf="userIsAuthenticated && !userIsAdmin">
      <a mat-button color = "primary" [routerLink]="['/bid', post.id]" *ngIf="userId!= post.creator"> BID </a>
      <a mat-button color = "primary" [routerLink]="['/message', post.id]" *ngIf="userId!= post.creator"> MESSAGE SELLER </a>
      <a mat-button color = "primary" [routerLink]="['/message', post.id]" *ngIf="userId == post.creator"> SEE MESSAGES ON YOUR POST </a>
    </mat-action-row>
  </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator *ngIf = "posts.length>0" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOption" (page)="onChangedPage($event)" ></mat-paginator>
<p class = "info-text mat-body-1" *ngIf="posts.length == 0 && !isLoading">No books on sale yet/ No books with searched criterias!</p>
<button class="host"  *ngIf="posts.length == 0 && !isLoading" (click)= update()>Reset Search</button>

