<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-content *ngIf="!isLoading">
    <mat-card-title *ngIf="currentUser == post.winner">You won this product!</mat-card-title>
    Title: {{post.title}} <br>
    Author: {{post.author}} <br>
    Course: {{post.course}} <br>
    University: {{post.university}} <br>
    Content: {{post.content}} <br>
    Price: {{post.startingPrice}}$ <br>
    <img height="100" width="100" src={{post.imagePath}}>
  </mat-card-content>
  <h1 *ngIf="!isLoading" align="center">Buy</h1>
      <br> <br>
      <input type ="number" disabled [(ngModel)] = "finalAmount">
      <div id="paypal-checkout-btn"></div>
</mat-card>



